In [62]:
sample_story = '''Once upon a time, there was a beginner programmer named Alice who was eager to learn Python. She tried to learn from books, but found it difficult to grasp the concepts. One day, she stumbled upon an online course.

Alice was thrilled. The course was taught by a well-known programmer who made the lessons interesting and easy to understand. The course covered everything a beginner programmer needed, and Alice was finally able to understand how to code in Python.'''

def get_longest_word(input_string):
    words = input_string.replace('.', ' ').replace(',', ' ').split()
    temp_max_word = ''
 
    for word in words:
      if len(word) > len(temp_max_word):
        temp_max_word = word
    
    return temp_max_word

print(get_longest_word(sample_story))

['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'beginner', 'programmer', 'named', 'Alice', 'who', 'was', 'eager', 'to', 'learn', 'Python', 'She', 'tried', 'to', 'learn', 'from', 'books', 'but', 'found', 'it', 'difficult', 'to', 'grasp', 'the', 'concepts', 'One', 'day', 'she', 'stumbled', 'upon', 'an', 'online', 'course', 'Alice', 'was', 'thrilled', 'The', 'course', 'was', 'taught', 'by', 'a', 'well-known', 'programmer', 'who', 'made', 'the', 'lessons', 'interesting', 'and', 'easy', 'to', 'understand', 'The', 'course', 'covered', 'everything', 'a', 'beginner', 'programmer', 'needed', 'and', 'Alice', 'was', 'finally', 'able', 'to', 'understand', 'how', 'to', 'code', 'in', 'Python']
interesting

In [5]:
'renan'.rfind('n')

4

In [12]:
sample_story.split()[0]

'Once'

In [30]:
a = ['One', 'Two', 'Three']

count = 0

for x in a:
    count += 1
    print(a[])

print(count)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (162370458.py, line 7)